/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  background-color: #7dbd2e;
  padding: 20px;
  color: white;
}

section h2{
  text-align: center;
  color: wheat;
}
h2{
  text-align: center;
}
header .logo h1 {
  margin: 0;
}
header a{
  text-decoration: none;
  color: white;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

section p{
  color: white;
}

img{
  object-fit: cover;
}
/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-image: url(images/neamwonders.webp);
  background-size: cover;
}

.hero-content h2 {
  font-size: 48px;
  margin: 0;
}

.hero-content p {
  font-size: 24px;
}

.hero-image{
  width: 100%;
  height: 30vh;
} 

.img{
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.hero-buttons button {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

/* Article Section */
.articles {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  height:fit-content;
}

.article {
  text-align: center;
  width: 200px;
  height:fit-content;
}

.article img {
  width: 100%;
  border-radius: 10px;
  height: 30vh;
}
.articles a{
  margin: auto 0px;
  text-decoration: none;
}

/* Icons Section */
.icon-section {
  text-align: center;
  padding: 40px;
  background-color: #f0f0f0;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon {
  padding: 10px;
  background-color: #7dbd2e;
  color: white;
  border-radius: 10px;
  width: 100px;
  text-align: center;
}

/* Plant Recommendations */
.plants {
  padding: 40px;
  text-align: center;
  display: flex;
}

.plant-card {
  background-color: #fff;
  padding: 20px;
  margin: 10px auto;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #7dbd2e;
  color: white;
}