<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotating images</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    
    <div class="Banner">
        <div class="Slider" style ="--quantity: 9">
            <div class="item" style="--position:1"><img src="/images/lavendar.png" alt="...."></div>
            <div class="item" style="--position:2"><img src="/images/rosemary.png" alt=""></div>
            <div class="item" style="--position:3"><img src="/images/pudina.png" alt=""></div>
            <div class="item" style="--position:4"><img src="/images/Ginger.png" alt=""></div>
            <div class="item" style="--position:5"><img src="/images/Sage plant.png" alt=""></div>
            <div class="item" style="--position:6"><img src="/images/thyme.png" alt=""></div>
            <div class="item" style="--position:7"><img src="/images/oregano plant landscape image.png" alt=""></div>
            <div class="item" style="--position:8"><img src="/images/chamonile.png" alt=""></div>
            <div class="item" style="--position:9"><img src="/images/Oregano Plant Image potraight image.png" alt=""></div>
            <div class="model"></div>
        </div>
    </div>
</body>
</html>