/* Global Styles */
*{
    text-align: justify;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a{
    text-decoration: none;
    color: white;
  }
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    background-color: #7dbd2e;
    padding: 20px;
    color: white;
  }
  
  header .logo h1 {
    margin: 0;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  img{
    object-fit: cover;
  }
  /* table style  */
  td{
    /* background-color: red; */
    /* padding: 7px; */
  }
  select{
    background: transparent;
    border: none;
    color: white;
  }
  option{
    background-color: #7dbd2e;
  }
  
  #search{
    /* background: transparent; */
    border: none;
    border-radius: 5px;
    height: 100%;
  }
  
  /* left Section  */
  .content{
      display: flex;
      margin: 10px;
      justify-content: space-between;
      height: 80vh;
  }
  .left{
      display: flex;
      /* border: 1px solid black; */
      width: 40%;
      flex-direction: column;
      text-align: center;
      align-items: center;
      box-shadow: 1px 20px 40px gray;
  }
  .left img{
      margin-top: 5vh;
      width: 60%;
      /* height: 90%; */
      background-size: inherit;
  }
  .right{
      /* border: 1px solid black; */
      width: 55%;
      padding: 4px;
      overflow-y: auto;
  }
  #last{
    color: rgb(134, 0, 0);
  }